<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <img class="card-img-top" src="speaker_image.jpg" alt="Speaker Image" />
    <div class="card-body">
      <h4 class="card-title">Speaker Name</h4>
      <p class="card-text">Speaker Bio</p>
    </div>
  </div>
</div>
