<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agenda | SICT Symposium</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/agenda.css" />
    <!-- <link rel="stylesheet" href="../public/css/agenda.css" /> -->
<!-- for the navigation -->
<link
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
rel="stylesheet"
/>
  </head>
  <body>
    <%- include('partials/nav') %>

    <div class="container">
      <!-- <h1>Symposium Agenda</h1> -->
      <div class="pink-traingle-hangs-left"></div>
      <h1>Conference Highlights</h1>
      <small
        >Exciting Topics to be discussed that you wont want to miss out on
      </small>
      <div class="highlights">
        <h3>Workshop for Final Year and Postgraduate Students</h3>
        <h3>Keynote Speeches by Industry Experts</h3>
        <h3>Interactive Displays and Demostrations</h3>
        <h3>Engaging Panel Discussions</h3>
        <h3>Fun Quiz with Prizes</h3>
        <button>See All Schedule</button>
      </div>
      <br /><br /><br />
      <!-- <div class="container"> -->
      <div class="conference-hightlight">
        <div class="call-to-action">
          <h1>Attend the "Future of Food" Symposium!</h1>
          <h1>Secure your spot by registering today.</h1>
          <small
            >Build opportunities for future opportunities for products,
            startups</small
          >
          <button>-> Register Now!</button>
        </div>
      </div>
      <br /><br /><br /><br /><br /><br />
      <div class="order-of-the-day">
        <h1>ORDER OF THE DAY</h1>
        <div class="square-shape"></div>
        <ul class="unordered-list">
          <li>Workshop for Final Year and Postgraduate Students</li>
          <li>Workshop for Final Year and Postgraduate Students</li>
        </ul>
      </div>
    </div>
    <%- include('partials/footer') %>
    <!-- For the navigation button -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
