<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SICT Symposium</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- for the navigation -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <br /><br />
    <%- include('partials/nav') %>

    <!-- Landing Page Content -->
    <div class="container mt-5">
      <p class="font-weight-bold">
        3rd Symposium of the School of information and Communication Technology
        (SICT)
      </p>
      <h1 class="text-success">Future of Food Symposium 2024</h1>
      <br /><br /><br /><br />
      <!-- Speaker Section -->

      <div class="home-img-container">
        <img
          class="flyer"
          src="/images/invitation.png"
          alt="flyer of program"
        />
      </div>
      <div class="shape-orange"></div>
      <div class="shape-peach"></div>
      <div class="container">
        <h1>Let's Grow Together:</h1>
        <small
          >Embracing the Future of Food at the 3rd Symposium of The School of
          Information and Communication Technology (SICT)</small
        >
      </div>

      <div class="container">
        <div>
          <img
            src="/images/4-cardinal-point.jpg"
            alt="the four cardinal point of the symposium"
            width="380px"
            height="400px"
          />
        </div>

        <div class="get-yourself-inspired">
          <h4>Get yourself Inspired</h4>
          <p>
            <small
              >In an era where technology and innovation intersect with the
              culinary arts, the Tech Symposium on The Future of Food invites
              thought leaders, entrepreneurs, and enthusiasts to explore the
              transformative potential of food technology. This event is a
              platform for sharing insights, fostering collaborations, and
              envisioning a sustainable future where technology enhances our
              food systems..
            </small>
          </p>
          <p>
            <small
              >Together, we can cultivate a future where technology not only
              feeds our bodies but also nourishes our communities and the
              environment. Let’s grow together at the forefront of the food
              revolution. 🌱
            </small>
          </p>
        </div>
      </div>

      <div class="shape-peach"></div>
      <!-- About Conference -->
      <div class="container">
        <div>
          <img
            src="../public/images/divine_ift.jpg"
            width="190px"
            height="auto"
            alt=""
          />
          <img
            class="front-image"
            src="../public/images/MosesDp.jpg"
            width="240px"
            height="auto"
            alt=""
          />
        </div>
        <div class="about-conference">
          <h1>About Conference</h1>
          <p>
            The "Future of Food" Symposium aims to explore the transformative
            potential of AI, Robotics, and Vertical Farming in revolutionizing
            food production, distribution, and sustainability. By bringing
            together experts, researchers, and enthusiasts in the field, the
            symposium seeks to foster interdisciplinary discussions, share
            insights, and inspire innovative solutions to address the challenges
            facing global food systems
          </p>
          <h5>Hall of Excellence, FUTO</h5>

          <div class="but-container">
            <div>
              <h4>1</h4>
              <p>Day Event</p>
            </div>
            <div>
              <h4>3+</h4>
              <p>Speakers</p>
            </div>
            <!-- <button class="event-buttons" width="120px" height="120px">3+ <p><small>Speakers</small></p></button> -->
          </div>
        </div>
      </div>
      <div class="shape-oval"></div>
      <!-- Speakers -->

      <br /><br /><br />
      <div class="container">
        <h1 id="speaker-heading">Speakers</h1>

        <br /><br /><br />

        <!-- <div class="speaker-card">
        <img class="speaker-img" src="/images/divine_ift.jpg" alt="" />
        <div class="speaker-bio">
          <h2>EKeh Divine Ikechukwu
          </h2>
          <small>Information and communication technology </small>
        </div>
      </div> -->

        <div class="speaker-card">
          <img class="speaker-img" src="/images/mary.jpg" alt="" />
          <div class="speaker-bio">
            <h2>Okereke Chidinma Mary</h2>
            <small>Information and communication technology </small>
          </div>
        </div>

        <div class="speaker-card">
          <img class="speaker-img" src="/images/divine.jpg" alt="" />
          <div class="speaker-bio">
            <h2>EKeh Divine Ikechukwu</h2>
            <small>Information and communication technology</small>
          </div>
        </div>

        <div class="speaker-card">
          <img class="speaker-img" src="/images/chiboy.jpg" alt="" />
          <div class="speaker-bio">
            <h2>Chibuzor Nwabueze C.</h2>
            <small>Information and communication technology</small>
          </div>
        </div>

        <div class="shape-square"></div>
        <div class="attend-container">
          <h1>Attend the "Future of Food" Symposium!</h1>
          <h1>Secure your spot by registering today.</h1>

          <div>
            <small
              >Build opportunities for future opportunities for products,
              startups</small
            >
          </div>
          <div align="content-end" position="right">
            <button width="200px" height="70px">-> Register Now!</button>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br /><br />
    <div class="container conference-hightlight">
      <h1>Conference Highlights</h1>
      <small
        >Exciting Topics to be discussed that you wont want to miss out
        on</small
      >
      <!-- <h4 style="width: 200px; height:45px; background-color:black; color:white">Workshop for Final Year and Postgraduate Students</h4>   -->
      <h4>Keynot Speeches by Industry Experts</h4>
      <h4>Interactive Displays oand Demostrations</h4>
      <h4>Engaging Panel Discussions</h4>
      <h4>Fun Quiz with Prizes</h4>
      <button>See All Schedule</button>
    </div>
    <br /><br /><br />

    <%- include('partials/footer') %>
    <!-- For the navigation button -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
