<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speakers | SICT Symposium</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/speaker.css" />
    <!-- <link rel="stylesheet" href="../public/css/speaker.css" /> -->

    <!-- for the navigation -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/nav') %>

    <br /><br /><br /><br /><br /><br />

    <div class="container">
      <div class="speakers-card">
        <div class="img-and-topic-container">
          <div class="img-container">
            <p>
              Second Speaker : The Role of Robotics in Sustainable Agriculture
            </p>
            <img src="../public/images/Moses2.jpg" alt="" />
          </div>
        </div>

        <div class="speakers-bio">
          <!-- About the speaker -->
          <h1>Dr. Emily Watson</h1>
          <h3>Associate Professor of Robotics</h3>
          <p>Standford University</p>

          <small
            >Dr. Emily Watson is an Associate Professor of Robotics at Stanford
            University, specializing in the application of artificial
            intelligence and robotics in agriculture and food production. With a
            Ph.D. in Robotics from MIT and over a decade of research experience,
            Dr. Watson has led groundbreaking projects in the development of
            autonomous farming systems and precision agriculture technologies.
            Her research focuses on enhancing crop yield, resource efficiency,
            and sustainability through innovative robotic solutions. Dr. Watson
            is a recipient of the National Science Foundation CAREER Award and
            has published numerous papers in leading robotics and agricultural
            journals
          </small>
        </div>
      </div>
      <div class="shape-empty-square"></div>
      <div class="speakers-card">
        <div class="img-and-topic-container">
          <div class="img-container">
            <p>
              Second Speaker : The Role of Robotics in Sustainable Agriculture
            </p>
            <img src="../public/images/Moses2.jpg" alt="" />
          </div>
        </div>

        <div class="speakers-bio">
          <!-- About the speaker -->
          <h1>Dr. Emily Watson</h1>
          <h3>Associate Professor of Robotics</h3>
          <p>Standford University</p>

          <small
            >Dr. Emily Watson is an Associate Professor of Robotics at Stanford
            University, specializing in the application of artificial
            intelligence and robotics in agriculture and food production. With a
            Ph.D. in Robotics from MIT and over a decade of research experience,
            Dr. Watson has led groundbreaking projects in the development of
            autonomous farming systems and precision agriculture technologies.
            Her research focuses on enhancing crop yield, resource efficiency,
            and sustainability through innovative robotic solutions. Dr. Watson
            is a recipient of the National Science Foundation CAREER Award and
            has published numerous papers in leading robotics and agricultural
            journals
          </small>
        </div>
      </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <!-- <div class="container"> -->
    <div class="conference-hightlight">
      <div class="call-to-action">
        <h1>Attend the "Future of Food" Symposium!</h1>
        <h1>Secure your spot by registering today.</h1>
        <small
          >Build opportunities for future opportunities for products,
          startups</small
        >
        <button>-> Register Now!</button>
      </div>
    </div>
    <br /><br /><br /><br /><br /><br />

    <%- include('partials/footer') %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
