<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speakers | SICT Symposium</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/speaker.css" />
    <!-- <link rel="stylesheet" href="../public/css/speaker.css" /> -->

    <!-- for the navigation -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/nav') %>

    <br /><br /><br /><br /><br /><br />

    <div class="container">
      <div class="speakers-card">
        <div class="img-and-topic-container">
          <div class="img-container">
            <p>
              First Speaker : The Role of Robotics in Sustainable Agriculture
            </p>
            <img src="/images/chiboy.jpg" alt="chiboy" />
          </div>
        </div>

        <div class="speakers-bio">
          <!-- About the speaker -->
          <h1>Chibuzor N. Chiemeziem</h1>
          <h3>Computer Science</h3>
          <p>SICT FUTO</p>
        </div>
      </div>

      <!-- second speakers -->

        <!-- second speakers -->
        <div class="shape-empty-square"></div>
        <div class="speakers-card">
          <div class="img-and-topic-container">
            <div class="img-container">
              <p>
                Second Speaker : The Role of Robotics in Sustainable Agriculture
              </p>
              <img src="/images/divine.jpg" alt="" />
            </div>
          </div>

          <div class="speakers-bio">
            <!-- About the speaker -->
            <h1>Ekeh Divine I.</h1>
            <h3>Information and Communication Technology</h3>
            <p>SICT FUTO</p>
          </div>
        </div>
      </div>

      <!--Third speakers -->
      <div class="shape-empty-square"></div>
      <div class="speakers-card">
        <div class="img-and-topic-container">
          <div class="img-container">
            <p>
              Third Speaker : The Role of Robotics in Sustainable Agriculture
            </p>
            <img src="/images/mary.jpg" alt="" />
          </div>
        </div>

        <div class="speakers-bio">
          <!-- About the speaker -->
          <h1>Okereke C. Mary</h1>
          <h3>Information and Communication Technology</h3>
          <p>SICT FUTO</p>
        </div>
      </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <!-- <div class="container"> -->
    <div class="conference-hightlight">
      <div class="call-to-action">
        <h1>Attend the "Future of Food" Symposium!</h1>
        <h1>Secure your spot by registering today.</h1>
        <small
          >Build opportunities for future opportunities for products,
          startups</small
        >
        <button><a class="white" href="/reg"> Register Now!</a></button>
      </div>
    </div>
    <br /><br /><br /><br /><br /><br />

    <%- include('partials/footer') %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
