* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.shape-square {
  display: block !important;
  margin: 10px 40px 200px;
  width: 20px;
  position: relative;
  right: 2px;
  height: 20px;
  background-color: palevioletred;
}

.shape-orange {
  display: block !important;
  margin: 10px 40px 200px;
  width: 20px;
  border: 5px solid orange;
  position: relative;
  right: 2px;
  height: 20px;
}

.shape-oval {
  display: block !important;
  margin: 20px 10px 10px 600px;
  width: 20px;
  border: 5px solid rgb(111, 179, 34);
  position: relative;
  right: 2px;
  border-top-right-radius: 10px;
  border-top-left-radius: 100px;
  height: 20px;
}

.shape-triangle {
  display: block !important;
  margin: 40px 90px 10px 70px;
  width: 20px;
  border: 5px solid palevioletred;
  position: relative;
  right: 2px;
  border-top-right-radius: 10px;
  border-top-left-radius: 100px;
  height: 20px;
}

.container {
  width: 99%;
  margin: 3px auto;
  /* border: 1px solid green; */
  text-align: center;
}

.container div {
  margin: 10px 20px;
  padding: 10px;
  top: 0px;
  display: inline-block;
}

.about-div {
  width: 400px;
  /* border: 1px solid black; */
}

.about-div p,
.mission-container p {
  text-align: left;
  font-size: 1.4rem;
}

.mission-container {
  width: 60%;
  margin: 10px 0px;
}
/* The committe Section on the about page */
.committe-card-container div {
  display: inline-block;
  width: 25%;
}

.committe-card-container {
  /* border: 1px solid red; */
  width: 90%;
}

.committee-card {
  border: 1px solid black;
  line-height: 5px;
  margin: auto 5px;
  width: 170px !important;
}
.committee-card img {
  width: 90px;
  height: auto;
  left: 20px;
}

.committee-card h3 {
  font-size: 1rem;
}

.conference-hightlight {
  text-align: center;
}

.call-to-action {
  width: 80%;
  color: whitesmoke;
  border: 1px solid rgb(111, 179, 34);
  border-radius: 5px;
  text-align: center;
  background-color: rgb(111, 179, 34);
}
.conference-hightlight h4 {
  color: white;
  background-color: black;
  width: 50%;
  margin: 10px auto;
  padding: 30px;
  border: 1px solid rgb(111, 179, 34);
}

.conference-hightlight button {
  background-color: black;
  color: white;
  width: 200px;
  height: 50px;
  border: 1px solid rgb(111, 179, 34);
  border-radius: 5px;
}

.past-event-container {
  text-align: center;
}

.past-event-container div {
  display: block;
}

.past-event-image-container {
  height: 650px;
  width: 650px;
  border: 1px solid #aaa;
  background-color: #aaa;
}

.picture-container {
  width: 70%;
  height: 30%;
  margin: 5px 0px 30px;
  background-color: #aaa;
}

.faculty-img {
  height: 100%;
  width: 100%;
}
